<div class="container">
  <%= form_with(model: product) do |form| %>
    <%= render "shared/errors", product: product %>

    <div class="row spazio-sopra justify-content-center shadow p-3 mb-3 bg-warning rounded pt-5 pb-5">
      <div class="col-10">
        <div class="form-group row">
          <%= form.label :name, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= form.text_field :name, class: "form-control shadow rounded", placeholder: "Name of product"  %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :description, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= form.text_area :description, rows:10, class: "form-control shadow rounded", placeholder: "Description of product"  %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :price, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= form.text_field :price, class: "form-control shadow rounded", placeholder: "Price of product"  %>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-auto">
            <%= form.submit class: "btn btn-outline-light btn-lg" %>
          </div>
        </div>

      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-auto">
        <%= link_to '[ Back to products ]', products_path, class: "link-personalizzato" %>
      </div>
    </div>

  <% end %>

</div>
